emails.csv
secret.key
public.key
tokenized_emails.json
indexed_encrypted_emails.json
.env
database.py
datasets/encrypted/indexed_encrypted_emails.json
__pycache_/
*.pyc
*.pyd
*.pyo
node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
.cache/
.vite/
frontend/tailwindcss
